<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Me</h2>
    <p>I'm Rasheed, a self taught Front End web Developer and a Poet writer. I'm passionate about designing, creating basic games and building websites. I enjoy the entire development process from design to completion.</p>
    <p> I have great skills in HTML, CSS & JavaScript. I am also versatile with some JavaScript framework such as JQuery,  React JS, and Redux. With skills acquisitions of mine I've build some projects, websites for friends and in progress with backend.</p>
    <p>I build this blog with my current progress in backend using the MERN Stack.</p>
    <button><a href="#">My Freelance by clicking!</a></button>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>